html * {
  box-sizing: border-box;
}

#navbar {
  background-color: rosybrown;
  overflow: hidden;
  border-radius: 5px;
}

#navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: burlywood;
  font-family: 'Caveat';
}

#navbar a.split {
  float: right;
  background-color: burlywood;
  font-family: 'Caveat';
}

#navbar a:hover {
  background-color: rosybrown;
  color: burlywood;
  border: 0.1px;
  border-style: solid;
  border-radius: 5px;
  border-color: lightslategray;
  opacity: 0.9;
}

.content{
  padding: 20px;
  margin-top: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}


.title {

  font-size: 4rem;
  font-family: Caveat, Itim, cursive;
  text-align: center;
  background-color: lightyellow;
  border-radius: 5px;
  border-style: solid;
  border-color: saddlebrown;
  width: 40%;
  margin: auto;
  margin-top: 25px;
}

.description {
  margin-top: 50px;
  line-height: 1.5;
  font-size: 2rem;
  text-align: left;
  align-items: center;
  font-family: Itim, Caveat, cursive;
  display: flex;
  /* background-color: blue; */
}

.descriptions {
  margin-top: 50px;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
  font-family: Itim, Caveat, cursive;
  /* background-color: blue; */
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.grids {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  background-color: lightblue;
  color: mediumpurple;
}

.card:hover,
.card:focus,
.card:active {
  color: mediumaquamarine;
  border-color: mediumaquamarine;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



body {
  background-color: lightgoldenrodyellow;

}

.background2 {
  background-color: mediumpurple;

}



.lower-left-image {
  left: 100px;
  bottom: 0;
  margin: 25px;
}

.lower-right-image {
  right: 100px;
  bottom: 0;
  margin: 25px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px;
}

.image {
  margin: 20px;
}